<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"><head><title>Chi tiết đơn hàng</title></head><body>
<a class="btn btn-outline-secondary btn-sm mb-3" th:href="@{/orders}">Đơn hàng của tôi</a>
<div th:replace="~{orders/fragments :: detail(${orderDetail})}"></div>
<a class="btn btn-outline-primary mt-3" th:if="${orderDetail.order.paymentMethod.name() == 'ONLINE'}"
   th:href="@{/orders/{id}/payments(id=${orderDetail.order.orderId})}">Xem thanh toán trực tuyến</a>
</body></html>
